<div ng-init="fetchTopics()"><div>

<h3>スレッド一覧</h3>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div ng-repeat="topic in topics" class="col-md-3">
        <a href="http://localhost:3000/topics/{{topic.id}}">{{topic.title}}</a>
      </div>
    </div>
  </div>
</div>

  <h3>上位10スレッド</h3>
  <div class="row">
    <div ng-repeat="topic in topics" class="panel panel-default" ng-controller="TopicCtrl">
      <div class="panel-heading">
        <h3 class="panel-title">{{topic.title}}</h3>
      </div>
      <div class="panel-body">
        <p>ユーザーID: {{topic.user_id}}</p>
        <p>作成日時: {{topic.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>

        <div class="list-group posts">
          <div class="list-group-item" ng-repeat="post in topic.posts">
            <p>ユーザーID:{{post.user_id}}</p>
            <p>投稿日時: {{post.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <p class="list-group-item-text">{{post.content}}</p>
            <img ng-src="http://localhost:3000/{{post.img_id}}.jpg" ng-show="post.img_id" />
          </div>
        </div>

        <form>
          <div class="form-group">
            <label>コメント</label>
            <textarea class="form-control" placeholder="一言どうぞ" rows="3" ng-model="postContent"></textarea>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-default" ng-disabled="!isLoggedIn" ng-click="openAlbum('lg')">Facebookから画像選択</button>
          </div>
          <div class="form-group">
            <img ng-src={{choosedPhoto.picture}} />
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" ng-disabled="!isLoggedIn" ng-click="confirmPost(topic.id, postContent)">書き込む</button>
            <p class="help-block" ng-hide="isLoggedIn">作成するにはFacebookログインが必要です</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

